*{
    margin: 0;
    padding: 0;
    
}

header{
    background-image: url(/images/mecedes-s-background.jpg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    background-size: cover;
    height: 700px;
}

.header-pages{
    background-image: url(/images/bmw-light.webp);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    background-size: cover;
    height: 700px;
}

.navbar-home{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-home img{
    padding: 20px;
}

 #options-nav {
    padding: 20px;
} 

#options-nav a{
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
}

.input-area{
    padding-left: 40px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
.input-area input{
    border-style: none;
    border-radius: 10px;
    width: 500px;
    height: 40px;

    font-family: 'Montserrat';
    font-size: 14px;
    padding-left: 10px;
}

.title{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 14px;
    padding-left: 10px;
}

.title h1{
    color: rgb(241, 241, 241);
}

/* --------------- Sobre nos ------------------ */
#sobre-container{
    padding: 40px;
    font-family: 'Montserrat';
    font-size: 16px;
}
#sobre-container img{
    width: 580px;
    height: 425px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 500px;
}
.col-2 img{
    max-width: 200%;
    padding-right: 100px;
    padding-left: 25px;
} 

.col-3{
    flex-basis: 50%;
    min-width: 500px;
}
.col-3 img{
    /* max-width: 300%; */
    padding-right: 100px;
    padding-left: 25px;   
}

/*------------------- Menu ---------------------- */
.menu{
    background-color: black;
}
.input-area-menu{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.input-area-menu input{
    border-style: none;
    border-radius: 10px;
    width: 500px;
    height: 40px;

    font-family: 'Montserrat';
    font-size: 14px;
    padding-left: 10px;

}

/*---------------- Produtos --------------------*/
#produtos-section{
    padding-left: 40px;
    padding-top: 40px;

}

.cards-produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 15px;
}


/*---------------Footer-----------------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    margin-top: 40px;
}
.footer:p{
    color:#8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom:  18px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 250px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 100px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

/* and (max-device-width: 768px)  */
@media screen and (min-width: 808px) {  
    .navbar-home{
        padding-top: 10px;
    } 
    #options-nav a{
        padding-top: 5px;
    }
}

@media screen and (max-width: 1200px){
    .col-3 img{
        padding: 20px;
    }

}
@media screen and (max-width: 1000px){
    #sobre-container img{
        width: 150%;
        height: 150%;
    }
   
    .input-area-menu input{
        width: 300px;
    }

    .col-3 img{
        padding: 20px;
    }
}
